<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Employee Directory</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		
	</head>

	<body>
		<div class="container">
			<h3>Employee Directory</h3>
			<hr>
			
			<!-- Add a button -->
			<a th:href="@{/employees/showFormForAdd}"
				class="btn btn-primary btn-sm mb-3">
				Add Employee
			</a>
			
			<table class="table table-bordered table-striped">
			
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="tempEmployee : ${employees}">
						
						<td th:text="${tempEmployee.firstName}" />
						<td th:text="${tempEmployee.lastName}" />
						<td th:text="${tempEmployee.email}" />
						
					</tr>
				</tbody>
				
			</table>
		</div>
	</body>

</html>